node_modules/
package-lock.json
yarn.lock

# Переменные окружения
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Логи
*.log
npm-debug.log*

# Папки для сборки
dist/
build/
.next/

# Прочее
.cache/
temp/
